<?xml version="1.0" encoding="utf-8"?>
<cruise xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="cruise-config.xsd" schemaVersion="124">
  <server artifactsdir="artifacts"
          agentAutoRegisterKey="{{ gocd_agent_auto_register_key }}"
          webhookSecret="57b5b4a5-e839-4735-935c-168e97b80033"
          commandRepositoryLocation="default"
          serverId="239404b7-69fe-4fc9-81e9-945654461562"
          tokenGenerationKey="24cbd25a-549a-4e08-b0e9-f313ce78078a">
    <backup emailOnSuccess="true" emailOnFailure="true" />
  </server>
</cruise>
