# awk - change uid:gid for gocd user at /etc/passwd

BEGIN {
  FS=":"
  OFS=FS
}

{
  if ($1 ~ /{{ gocd_user_name }}/) {
    $3={{ operator_user_id }}
    $4={{ operator_group_id }}
    print
  }
  else
    print
}
